{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>JMK</title>

    <!-- Bootstrap -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

		<link href="{% static "jmk.css" %}?v=2" rel="stylesheet">
		<link href="{% static "pygments.css" %}" rel="stylesheet">
		<link href="{% static "gallery.css" %}" rel="stylesheet">
		<link href="{% static "datepicker.css" %}" rel="stylesheet">
		<link href="{% static "katex.min.css" %}" rel="stylesheet">
  </head>
  <body>
		<div class="margin-top visible-md-block visible-lg-block">
		</div>
		<div class="container main-container">
			<div class="row">
				<div class="col-md-2 sidebar">
					<div>
						<h1>
							<a href="/" class="jmk">JMK</a>
						</h1>
						<small class="hidden-xs hidden-sm">
							because every life is only as good as it is <a href="/read/remembering-wonha-ryu" class="plain">remembered</a>.
						</small>
					</div>
					<hr class="hidden-sm hidden-xs"/>
					<div>
						<ul class="main-menu">
							<li>
								<a href="{% url "head" "about" %}">ABOUT</a>
							</li>
							<li>
								<a href="{% url "timeline" %}">BLOG</a>
							</li>
							<li>
								<ul class="nested-menu">
									<li>
										<a href="{% url "categories" %}">CATEGORIES</a>
									</li>
									<li>
										<a href="{% url "list" %}">LIST</a>
									</li>
									<li>
										<a href="{% url "calendar" %}">CALENDAR</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="{% url "head" "guestbooks" %}">GUESTBOOK</a>
							</li>
							<li>
								<a href="http://feeds.feedburner.com/jongman">RSS</a>
							</li>
							<!-- <li> -->
							<!-- 	<a href="#">TRACKER</a> -->
							<!-- </li> -->
							<li>
								<form method="GET" action="{% url "search" %}">
									<input name="query" type="text" class="search" placeholder="SEARCH">
								</form>
							</li>
						</ul>
						<ul class="main-menu">
							{% if user.is_authenticated %}
							<li>
								<span class="glyphicon glyphicon-user"></span>
								{{ user.username }}
							</li>
							{% endif %}
							<li>
								{% if user.is_authenticated %}
								<a href="{% url "logout" %}">LOGOUT</a>
								{% else %}
								<a href="{% url "login" %}">LOGIN</a>
							</li>
							<li>
									<a href="{% url "signup" %}">SIGN UP</a>
								{% endif %}
							</li>
							{% if user.is_superuser %}
							<li>
								<a href="/admin">ADMIN PANEL</a>
							</li>
							<li>
								<a href="{% url "post-write" %}">NEW POST</a>
							</li>
							<li>
								<a href="{% url "write-journal" %}">NEW JOURNAL</a>
							</li>
							<li>
								<a href="{% url "gallery" %}" id="gallery-trigger">GALLERY</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<hr class="visible-md-block visible-lg-block"/>
					<div class="recent-comments visible-md-block visible-lg-block">
						<h4>COMMENTS</h4>
						<ul class="recent-comments">
							{% for comment in recent_comments %}
							<li> 
								{% if comment.author %}
									<b><a href="{% url "user-details" comment.author.id %}">{{ comment.name }}</a></b>: 
								{% else %}
									{{ comment.name }}</a>: 
								{% endif %}
							<a href="{{ comment.post.get_absolute_url }}#c{{ comment.pk }}">{{ comment.comment|truncatechars:20 }}</a>
							{% endfor %}
						</ul>
					</div>
					{% if past_years %}
					<hr class="visible-md-block visible-lg-block"/>
					<div class="recent-comments visible-md-block visible-lg-block">
						<h4>PAST YEARS</h4>
						<ul class="recent-comments">
							{% for post in past_years %}
							<li> 
								<b>{{ post.dated.year }}</b>: 
								<a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:20 }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>

				<div class="col-md-10 written">

					{% block contents %}
					{% endblock %}

				</div>
			</div>
		</div>
		<div class="container footer">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">
						jmk.pe.kr since 2008, whinii.com since 1999
					</p>
				</div>
			</div>
		</div>
				

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
		<script src="{% static "jquery.min.js" %}"></script>
		<script language="javascript" src="{% static "imagelightbox.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "superbly-tagfield.min.js" %}"></script>

		<script src="{% static "jmk.js" %}"></script>
		<script src="{% static "gallery.js" %}"></script>
		<script src="{% static "md5.min.js" %}"></script>
		<script src="{% static "katex.min.js" %}"></script>
		{% block tail %}
		{% endblock %}
  </body>
</html>
