<div id="gallery-root">
	<div class="popup-container">
		<div class="popup">
			HELLO
		</div>
		<div id="loading-indicator" class="loading">
		</div>
	</div>
	<div class="contents">
		<div class="templates">
			<div class="folder-template folder">
				<a href="#"><img src="/media/attachments/5beb882ea2e0dde397c1fccb7a5f87ed/thumbnail.jpg"/></a>
				<div class="title">
					<span class="glyphicon glyphicon-folder-open"></span>
					<span class="text">2014-10-02</span>
					<small>(<span class="imgcnt">123</span> images)</small>
				</div>
			</div>



			<h4 class="date date-template">2014-10-01</h4>
			<div class="image-template image">
				<img data-pk="1234" data-full-url="/dsfsdfs" src="/media/attachments/5beb882ea2e0dde397c1fccb7a5f87ed/thumbnail.jpg"/>
				<div class="buttons">
					<a class="star-button" href="#"><span class="glyphicon is-starred glyphicon-star-empty"></span></a>
					<a class="hide-button" href="#"><span class="glyphicon is-hidden glyphicon-eye-open"></span></a>
					<a class="pick-button" href="#"><span class="glyphicon glyphicon-share"></span></a>
				</div>
			</div>

			<div class="element element-template"><img data-pk="1234" data-full-url="/dsfsdfs" src="/media/attachments/5beb882ea2e0dde397c1fccb7a5f87ed/thumbnail.jpg" width="100px"/></div>
		</div>

		<div class="folders">
		</div>

		<div class="entries">
			<div class="header">
				<input id="to-folders" type="button" value="&LessLess;"/>
				<input id="prev-folder" type="button" value="<<"/>
				<select id="folders">
					<option value="2014-09-uploaded">2014-09-uploaded</option>
					<option value="2014-10-uploaded">2014-09-uploaded</option>
					<option value="2014-09-smugmug">2014-09-smugmug</option>
					<option value="2014-08-smugmug">2014-08-smugmug</option>
				</select>
				<input id="next-folder" type="button" value=">>"/>
				<div class="pull-right">
					<select id="visibility">
						<option value="starred">[s] Show Only Starred</option>
						<option selected value="everything">[e] Show Everything</option>
						<option value="include-hidden">[h] Show Hidden Pictures</option>
					</select>
				</div>
			</div>
			<div class="body">
				
			</div>
		</div>

		<div class="full">
		</div>

	</div>
	<div class="selected-pictures">
		<div class="element buttons"><input type="button" id="publish-button" value="Publish"><br/><input type="button" id="cancel-button" value="Cancel"></div>

		</div>
	</div>
</div>
