{% extends "base.html" %}
{% load common_filters %}
{% block contents %}
{% endblock %}
{% block tail %}

		{% include "gallery-root.html" %}

		<script>
			var gallery_options = {
				'list-images-endpoint': '{% url "list-attachment" %}',
				'list-folders-endpoint': '{% url "list-attachment-folders" %}',
				'set-image-state-endpoint': '{% url "set-attachment-state" %}',
				'publish-callback': function(selected) {
					console.log('selected', selected);

					var pks = new Array();
					for(var i = 0; i < selected.length; ++i) {
						pks.push(selected[i].pk);
					}

					var url = '{% url 'post-album' %}?pics=' + pks.join(',');
					console.log(url);
					document.location = url;
				}
			};

			open_gallery();
		</script>
{% endblock %}
