{% extends "base.html" %}
{% load common_filters %}
{% block contents %}
{% endblock %}
{% block tail %}

		{% include "gallery-root.html" %}

		<script>
			var gallery_options = {
				'list-images-endpoint': '{% url "list-attachment" %}',
				'list-folders-endpoint': '{% url "list-attachment-folders" %}',
				'set-image-state-endpoint': '{% url "set-attachment-state" %}',
				'publish-callback': function(selected) {
					console.log(selected);
				}
			};

			open_gallery();
		</script>
{% endblock %}
