{% extends "base.html" %}
{% load common_filters %}
{% block contents %}
					<div class="blogview">
						<div class="section">
							<h2 class="content-header">
								글 목록 보기{% if category %}: {{ category }}{% endif %}

								<span class="pull-right">
									<small class="dates">
										{% if category %}
											<a href="{% url "timeline" category=category %}">
												<span class="glyphicon glyphicon-th-list" title="블로그로 보기"></span>
											</a>
											<a href="{% url "calendar" category=category %}">
												<span class="glyphicon glyphicon-calendar" title="날짜별 보기"></span>
											</a>

										{% else %}
											<a href="{% url "timeline" %}">
												<span class="glyphicon glyphicon-th-list" title="블로그로 보기"></span>
											</a>
											<a href="{% url "calendar" %}">
												<span class="glyphicon glyphicon-calendar" title="날짜별 보기"></span>
											</a>
										{% endif %}

										{# <a href="#"><span class="glyphicon glyphicon-th-list" title="블로그로 보기"></span></a> #}
										{# <a href="#"><span class="glyphicon glyphicon-calendar" title="날짜별 보기"></span></a> #}
									</small>
								</span>
							</h2>
						</div>
						{{ pagination.render }}
						<ul class="post-list">
							{% for post in pagination.page.object_list %}
								<li>
									<a href="{% url "post-read" slug=post.slug %}">{{ post.title }}</a> 
										<small>
											{{ post.timestamp|date:'Y년 n월 j일' }}{% if post.comment_set.count > 0 %}, {{ post.comment_set.count }} comment{% if post.comment_set.count != 1 %}s{% endif %}{% endif %}
											{% if post.permission > 0 %}
												({{ post.permission_name }})
											{% endif %}
										</small>
								</li>
							{% endfor %}
						</ul>

						{{ pagination.render }}
					</div>


{% endblock %}
