{% extends "base.html" %}
{% load common_filters %}
{% block contents %}
					<div class="entry">
						<div class="title">
							<h2 class="content-header">
								{# <span class="heading glyphicon glyphicon-list-alt"></span> #}
								{{ post.title }}
								<div class="pull-right visible-md-block visible-lg-block">
									<small class="dates">
										{% if user.is_superuser %}
											<a href="{% url "post-write" post.pk %}">편집</a> |
											<a class="confirm" href="{% url "post-delete" post.pk %}">삭제</a> |
										{% endif %}
										{% if post.attachments %}
											{% if album_type == 'full' %}
												<a href="{% url "post-read-thumbnails" slug=post.slug %}">썸네일 보기</a> |
											{% else %}
												<a href="{% url "post-read-full" slug=post.slug %}">크게 보기</a> |
											{% endif %}
										{% endif %}
										{% if post.permission > 0 %}
											<span class="glyphicon glyphicon-lock"></span>
											{{ post.permission_name }}
										{% endif %}
										<a href="{% url "calendar" year=post.dated.year month=post.dated.month %}">
											<span class="glyphicon glyphicon-calendar"></span>
										</a>
										{{ post.timestamp|date:'Y년 n월 j일' }}
										<span class="glyphicon glyphicon-tags"></span>
										{% for category in post.tags.slugs %}
											<a href="{% url "timeline" category=category %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
										{% endfor %}
									</small>
								</div>
							</h2>
							<div class="visible-xs-block visible-sm-block">
								<small class="dates">
									{% if user.is_superuser %}
										<a href="{% url "post-write" post.pk %}">편집</a> |
										<a class="confirm" href="{% url "post-delete" post.pk %}">삭제</a> |
									{% endif %}
									{% if post.attachments %}
										{% if album_type == 'full' %}
											<a href="{% url "post-read-thumbnails" slug=post.slug %}">썸네일 보기</a> |
										{% else %}
											<a href="{% url "post-read-full" slug=post.slug %}">크게 보기</a> |
										{% endif %}
									{% endif %}
									{% if post.permission > 0 %}
										<span class="glyphicon glyphicon-lock"></span>
										{{ post.permission_name }}
									{% endif %}
									<span class="glyphicon glyphicon-calendar"></span>
										{{ post.timestamp|date:'Y년 n월 j일' }}
										<span class="glyphicon glyphicon-tags"></span>
										{% for category in post.tags.slugs %}
											<a href="{% url "timeline" category=category %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
										{% endfor %}
								</small>
							</div>
						</div>
						<div class="post-body">
								{% with False as render_excerpt %}
									{% include "render-post.html" %}
								{% endwith %}
						</div>
						{% with commentobject=post %}
							{% include "comment_block.html" %}
						{% endwith %}
					</div>


{% endblock %}
