{% extends "base.html" %}
{% load common_filters %}
{% block contents %}
					<div class="blogview">
						<div class="section">
							<h2 class="content-header">
								검색: {{ query }}

								{# <small> #}
								{# 	({{ pagination.paginator.count }}개) #}
								{# </small> #}
							</h2>
						</div>
						{% for post in pagination.page.object_list %}
						<div class="blogentry">
							<div class="title">
								<h3>
									{# <span class="glyphicon glyphicon-list-alt"></span> #}
									<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
									<div class="pull-right visible-md-block visible-lg-block">
										<small class="dates">
											{% if post.permission > 0 %}
												<span class="glyphicon glyphicon-lock"></span>
												{{ post.permission_name }}
											{% endif %}
											<span class="glyphicon glyphicon-calendar"></span>
											{{ post.timestamp|date:'Y년 n월 j일' }}
											{% if not category %}
												<span class="glyphicon glyphicon-tags"></span>
												{% for category in post.tags.slugs %}
													<a href="{% url "timeline" category=category %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
												{% endfor %}
											{% endif %}
											<span class="glyphicon glyphicon-comment"></span>
											<a href="{{ post.get_absolute_url }}#comments">{{ post.comment_set.count }} comment{% if post.comment_set.count != 1 %}s{% endif %}</a>
										</small>
									</div>
								</h3>
							</div>
							<div class="post-body">
								{% with True as render_excerpt %}
									{% include "render-post.html" %}
								{% endwith %}
							</div>
						</div>
						{% endfor %}

						{{ pagination.render }}
					</div>


{% endblock %}
