{% extends "base.html" %}
{% load staticfiles %}
{% load common_filters %}
{% block contents %}

	<div class="postform">
		<h2 class="content-header"> {{ action }} </h2> 
		<form method="post" id="form" class="form-horizontal" role="form">
			{% csrf_token %}
			{% if form.non_field_errors %}
				{{ form.non_field_errors }}
			{% endif %}
			{% for field in form %}
				<div class="row form-group {% if field.errors %}has-error{% endif %}">
					<label class="col-sm-2 control-label">{{ field.label_tag }}</label>
					<div class="col-sm-10">
						{{ field }}
						{% for error in field.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
				<div class="row form-group">
					<label class="col-sm-2 control-label">첨부</label>
					<div class="col-sm-10">
						<input id="upload-attachment" type="button" value="업로드"/>
						{# <input id="upload-attachment2" type="button" value="&nbsp;" class="in-progress"/> #}
						<input id="import-attachments" type="button" value="앨범에서 가져오기"/>


						<ul id="attachments">
							<li class="attachment attachment-template">
								<div class="handle">
										<span class="handle-icon glyphicon glyphicon-align-justify"></span>
										<a href="#" class="remove-icon"><span class="glyphicon glyphicon-remove"></span></a>
										<span class="pk">#</span>
								</div>
								<div class="thumb">
									<a class="lightbox-link" href="{% static "large.jpg" %}"><img src="{% static "thumbnail.jpg" %}"/></a>
								</div>
								<div class="description">
										<textarea class="fixed-size"></textarea>
								</div>
							</li>
							{% for att in attachments %}
							<li class="attachment">
								<div class="handle">
										<span class="handle-icon glyphicon glyphicon-align-justify"></span>
										<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
										<span class="pk" title="{{ att.pk }}">#</span>
								</div>
								<div class="thumb">
									<a class="lightbox-link" href="{{ att.file }}"><img src="{{ att.thumbnail }}"/></a>
								</div>
								<div class="description">
									<textarea class="fixed-size">{{ att.notes }}</textarea>
								</div>
							</li>
							{% endfor %}
						</ul>

					</div>
				</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-10">
					<input type="submit" value="Submit"/>
				</div>
			</div>

			<input type="hidden" value="" name="serialized_attachments" id="id_serialized_attachments"/>
		</form>
	</div>
{% endblock %}

{% block tail %}
	
		{% include "gallery-root.html" %}

		<script>

			$(function() {
			});
		</script>
	<script language="javascript" src="{% static "ajaxupload.js" %}"></script>
	<script language="javascript" src="{% static "bootstrap-datepicker.js" %}"></script>
	<script language="javascript" src="{% static "jquery-ui.min.js" %}"></script>
	<script language="javascript">

		function add_attachment(file_path, thumbnail_path, pk) {
			var template = $(".attachment-template");
			var cloned = template.clone();
			cloned.removeClass("attachment-template");
			cloned.find(".lightbox-link").attr("href", file_path);
			cloned.find(".lightbox-link img").attr("src", thumbnail_path);
			cloned.find(".remove-icon").click(function() { cloned.remove(); });
			cloned.find(".pk").attr('title', pk);
			$("#attachments").append(cloned);
		}

		function import_attachments(selected) {
			for(var i = 0; i < selected.length; ++i) {
				add_attachment(selected[i].file, selected[i].thumbnail, selected[i].pk);
			}
		}

		var uploading = false;
		var gallery_options = {
			'list-images-endpoint': '{% url "list-attachment" %}',
			'list-folders-endpoint': '{% url "list-attachment-folders" %}',
			'set-image-state-endpoint': '{% url "set-attachment-state" %}',
			'publish-callback': import_attachments
		};

		function summarize_attachments() {
			var attachments = Array();
			$(".attachment").each(function(index, elem) {
				elem = $(elem);
				if(elem.hasClass('attachment-template')) return;
				attachments.push({
					'pk': elem.find('.pk').attr('title'),
					'file': elem.find('.lightbox-link').attr('href'),
					'thumbnail': elem.find('img').attr('src'),
					'notes': elem.find('textarea').val()
				});
			});
			return JSON.stringify(attachments);
		}

		$(function() {
			$("#import-attachments").click(open_gallery);
			$("#id_dated").datepicker({
				format: 'yyyy-mm-dd',
				todayHighlight: true,
				autoclose: true
			});
			$("#id_tags").each(function() {
				var preset = $(this).val() === "" ? [] : $(this).val().split(',');
				$(this).superblyTagField({
					allowNewTags: true,
					preset: preset,
					tags: [
					{% for tag in tags %}
						'{{ tag.name }}',
					{% endfor %}
					]
					
				})
			});
			$(".postform").keydown(function(e) {
				if(e.keyCode == 13 && e.altKey) {
					$("#form").submit();
					return false;
				}
			});
			$("#attachments").sortable({
				handle: '.handle-icon',
			});
			// new post?
			if($("#id_title").val() === "") {
				$("#id_title").on('input', function() {
					$("#id_slug").val(slugify($(this).val()));
				});
				$("#id_title").focus();
			}

			$("#form").submit(function() {
				if(uploading) {
					alert("Uploading!");
					return false;
				}
				window.onbeforeunload = function() { }
				
				$("#id_serialized_attachments").val(summarize_attachments());
			});

			new AjaxUpload("upload-attachment", {
				action: "{% url "new-attachment" %}",
				data: {
					csrfmiddlewaretoken: $("form input[name=csrfmiddlewaretoken]").val()
				},
				name: "file",
				autoSubmit: true,
				responseType: "json",
				onSubmit: function() {
					uploading = true;
					$("#upload-attachment").attr('value', '  ').addClass('in-progress');
				},
				onComplete: function(file, response) {
					uploading = false;
					$("#upload-attachment").attr('value', '업로드').removeClass('in-progress');

					if(response.success) {
						if(response.is_picture) {
							add_attachment(response.file_path, response.thumbnail_path, response.pk);
						}
						else {
							var public = $("#id_body_public");
							public.val(public.val() + "\n[" + file + "](" + response.file_path + ")");
							alert("Attached a non-image file: link appended to post body.");
						}
					}
				}
			});

			window.onbeforeunload = function() {
				return "정말 나가시겠어요?";
			}

			import_attachments({{ start_with|safe }});
		});
	</script>

{% endblock %}
