{% extends "simplebase.html" %}
{% block body %}
			<form method="post" class="form-signin">
			{% csrf_token %}
			<h2 class="content-header">
				로그인
				<span class="subtitle"><a href="">(이 사이트는 뭔가요?)</a></span>
			</h2>
			  {% if error %}
				  <div class="error"><b>{{ error }}</b></div>
			  {% endif %}
			  <input type="text" class="form-control" name="username" placeholder="아이디" required="" autofocus="" />
			  <input type="password" class="form-control" name="password" placeholder="비밀번호" required=""/>      
			  <input type="submit" value="로그인"/> <a href="{% url "lost-password" %}">ID/비밀번호 찾기</a> | <a href="{% url "signup" %}">회원가입</a>
			</form>
{% endblock %}
